default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: wanderinglabs-availability_development

test:
  <<: *default
  database: wanderinglabs-availability_test
